.about {
  height: 100vh;
  &__position {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  &__photo {
    transition: all 0.5s linear;
  }
  &__shape {
    position: relative;
  }

  &__name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &__right {
    font-size: 1.6rem;
  }
  &__parent,
  &__children,
  &__parent--children {
    font-family: 'Source Code Pro', sans-serif;
    padding-left: 2rem;
  }
  &__parent,
  &__parent--children {
    color: #e032d8;
  }
  &__children {
    color: #08fdd8;
    padding-left: 2rem;
  }
  &__parent--children,
  &__children--chil {
    padding-left: 4rem !important;
  }
  &__icon {
    color: yellow;
  }
}
