#svg__name {
  // margin-left: 15rem;
}

#name {
  stroke: var(--clr-primary);
  margin-left: 3rem;
  stroke-width: 3px;
  -webkit-animation: fill 3s alternate 3.4s infinite;
  animation: fill 3s alternate 3.4s infinite;
}
#name__1 {
  stroke-dasharray: 302;
  stroke-dashoffset: 302;
  -webkit-animation: anima 3s alternate 3.2s infinite linear;
  animation: anima 3s alternate 3.2s infinite linear;
}
#name__2 {
  stroke-dasharray: 354;
  stroke-dashoffset: 354;
  -webkit-animation: anima 3s alternate 3s infinite linear;
  animation: anima 3s alternate 3s infinite linear;
}
#name__3 {
  stroke-dasharray: 397;
  stroke-dashoffset: 397;
  -webkit-animation: anima 3s alternate 2.8s infinite linear;
  animation: anima 3s alternate 2.8s infinite linear;
}
#name__4 {
  stroke-dasharray: 397;
  stroke-dashoffset: 397;
  -webkit-animation: anima 3s alternate 2.6s infinite linear;
  animation: anima 3s alternate 2.6s infinite linear;
}
#name__5 {
  stroke-dasharray: 316;
  stroke-dashoffset: 316;
  -webkit-animation: anima 3s alternate 2.4s infinite linear;
  animation: anima 3s alternate 2.4s infinite linear;
}
#name__6 {
  stroke-dasharray: 266;
  stroke-dashoffset: 266;
  -webkit-animation: anima 3s alternate 2.2s infinite linear;
  animation: anima 3s alternate 2.2s infinite linear;
}
#name__7 {
  stroke-dasharray: 324;
  stroke-dashoffset: 324;
  -webkit-animation: anima 3s alternate 2s infinite linear;
  animation: anima 3s alternate 2s infinite linear;
}
#name__8 {
  stroke-dasharray: 238;
  stroke-dashoffset: 238;
  -webkit-animation: anima 3s alternate 1.8s infinite linear;
  animation: anima 3s alternate 1.8s infinite linear;
}
#name__9 {
  stroke-dasharray: 419;
  stroke-dashoffset: 419;
  -webkit-animation: anima 3s alternate 1.6s infinite linear;
  animation: anima 3s alternate 1.6s infinite linear;
}
#name__10 {
  stroke-dasharray: 83;
  stroke-dashoffset: 83;
  -webkit-animation: anima 3s alternate 1.4s infinite linear;
  animation: anima 3s alternate 1.4s infinite linear;
}
#name__11 {
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  -webkit-animation: anima 3s alternate 1.2s infinite linear;
  animation: anima 3s alternate 1.2s infinite linear;
}
#name__12 {
  stroke-dasharray: 89;
  stroke-dashoffset: 89;
  -webkit-animation: anima 3s alternate 1s infinite linear;
  animation: anima 3s alternate 1s infinite linear;
}
#name__13 {
  stroke-dasharray: 355;
  stroke-dashoffset: 355;
  -webkit-animation: anima 3s alternate 0.8s infinite linear;
  animation: anima 3s alternate 0.8s infinite linear;
}
#name__14 {
  stroke-dasharray: 239;
  stroke-dashoffset: 239;
  -webkit-animation: anima 3s alternate 0.6s infinite linear;
  animation: anima 3s alternate 0.6s infinite linear;
}
#name__15 {
  stroke-dasharray: 239;
  stroke-dashoffset: 239;
  -webkit-animation: anima 3s alternate 0.4s infinite linear;
  animation: anima 3s alternate 0.4s infinite linear;
}
#name__16 {
  stroke-dasharray: 326;
  stroke-dashoffset: 326;
  -webkit-animation: anima 3s alternate 0.2s infinite linear;
  animation: anima 3s alternate 0.2s infinite linear;
}
#name__17 {
  stroke-dasharray: 373;
  stroke-dashoffset: 373;
  -webkit-animation: anima 3s alternate infinite linear;
  animation: anima 3s alternate 0s infinite linear;
}

@-webkit-keyframes anima {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes anima {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--clr-fill);
  }
}
.home {
  height: 100vh;
  display: flex;
  // justify-content: space-around;
  align-items: center;

  &__left {
    padding-left: 10rem;
  }
  &__heading-3 {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: var(--clr-font);
  }

  &__btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 2rem;
    border: 3px solid var(--clr-primary);
    background-color: transparent;
    padding: 1.5rem 3rem;
    box-shadow: inset 0 0 20px 0 var(--clr-primary),
      0 0 20px 0 var(--clr-primary);
    position: relative;
    color: var(--clr-primary);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 3px #fff, 0 0 20px var(--clr-primary);
    transform: transform 0.2s linear;
    cursor: pointer;
  }
  &__btn::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background-color: var(--clr-primary);
    width: 100%;
    height: 100%;
    top: 120%;
    left: 0;
    transform: perspective(10px) rotateX(10deg) scale(1, 0.35);
    filter: blur(5.5rem);
    opacity: 0.7;
  }
  &__btn:hover {
    background-color: var(--clr-primary);
    color: var(--clr-font);
    text-shadow: none;
    transform: translateY(-3px);
  }
  &__btn:active {
    transform: translateY(-1px);
  }
  &__btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 7rem 1.5rem var(--clr-primary);
    opacity: 0;
    transition: opacity 0.2s linear;
  }
  &__btn:hover::after {
    opacity: 1;
  }
  // ===HOME--ICON===//

  &__icon {
    display: flex;
    transform-style: preserve-3d;
    transform: rotate(-30deg) skew(25deg);
    margin-top: 20rem;
    // margin-right: 16rem;
    li {
      position: relative;
      width: 8rem;
      height: 8rem;
      margin: 0 3rem;

      &::before {
        content: '';
        position: absolute;
        bottom: -1rem;
        left: 0;
        width: 100%;
        height: 1rem;
        background: #2a2a2a;
        transform-origin: top;
        transform: skewX(-41deg);
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -0.9rem;
        width: 0.9rem;
        height: 100%;
        background: #2a2a2a;
        transform-origin: right;
        transform: skewY(-41deg);
      }
      span {
        font-size: 4.5rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: var(--clr-icon);
        border: 5px solid var(--clr-primary);
      }
    }
    li:hover span {
      z-index: 1000;
      transition: 0.5s;
      color: var(--clr-white);
      box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
    }
    li:hover span:nth-child(5) {
      transform: translate(4rem, -4rem);
      opacity: 1;
    }
    li:hover span:nth-child(4) {
      transform: translate(3rem, -3rem);
      opacity: 0.8;
    }
    li:hover span:nth-child(3) {
      transform: translate(2rem, -2rem);
      opacity: 0.6;
    }
    li:hover span:nth-child(2) {
      transform: translate(1rem, -1rem);
      opacity: 0.4;
    }
    li:hover span:nth-child(1) {
      transform: translate(0rem, 0rem);
      opacity: 0.2;
    }

    //COLOR
    li:nth-child(1):hover span {
      background: #e34c26;
    }
    li:nth-child(2):hover span {
      background: #264de4;
    }
    li:nth-child(3):hover span {
      background: #dabf11;
    }

    li:nth-child(4):hover span {
      background: #cc6799;
    }
    li:nth-child(5):hover span {
      background: #61dbfb;
    }
    li:nth-child(6):hover span {
      background: #41b883;
    }
    li:nth-child(7):hover span {
      background: #3c873a;
    }
  }
  li:nth-child(1) {
    animation: toright 2.5s linear forwards;
  }
  li:nth-child(2) {
    animation: fly 3s ease-in-out forwards;
  }
  li:nth-child(3) {
    animation: drop 2s linear forwards;
  }
  li:nth-child(4) {
    animation: fly 3.6s linear forwards;
  }
  li:nth-child(5) {
    animation: drop 4s ease-in forwards;
  }
  li:nth-child(6) {
    animation: fly 3.2s linear forwards;
  }
  li:nth-child(7) {
    animation: toleft 3s linear forwards;
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-30rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fly {
  0% {
    opacity: 0;
    transform: translateY(30rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes toright {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes toleft {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
