.project {
  display: flex;
  justify-content: space-around;
  padding: 15rem 22rem;
  flex-wrap: wrap;

  &__card {
    width: 40rem;
    height: 70rem;
    margin: 2.5rem 2.5rem;
  }
  &__card--view {
    box-shadow: 0 4px 5px 3px rgba(242, 0, 178, 0.6);
    color: var(--clr-font);
    background-color: transparent;
    opacity: 1;
    transition: all 0.5s ease;
  }
  &__card--view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(242, 0, 178, 0.8);
  }
}
.card {
  &__img {
  }
  &__body {
    text-align: center;
  }
  &__title {
    font-size: 2.25rem;
    margin: 1rem 0;
  }
  &__details {
    font-size: 1.6rem;
  }

  &__btn {
    display: inline-block;
    border: 3px solid var(--clr-primary);
    background-color: transparent;
    padding: 1rem 3rem;
    box-shadow: inset 0 0 20px 0 var(--clr-primary),
      0 0 20px 0 var(--clr-primary);
    color: var(--clr-primary);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 3px #fff, 0 0 20px var(--clr-primary);
    cursor: pointer;
    margin: 3rem 0;
  }
}
