/* ===SIDEBAR COLUMN ===*/
.sidebar {
  position: fixed;
  height: 100vh;
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // background-color: var(--clr-bar);
  background: var(--clr-bg-shadow);
  backdrop-filter: blur(5px);

  z-index: 1;
  transition: all 0.5s ease;
}

.side-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

/* ===SIDEBAR ROW=== */
.siderow {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background: var(--clr-bg-shadow);
  backdrop-filter: blur(5px);
  box-shadow: var(--dark-shadow);
  z-index: 1000;
}
.siderow__logo {
  padding-left: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.siderow__logo img {
  width: auto;
  height: 5rem;
}
.darkmore {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

/* ICON SVG ANIMATION */
.btn {
  display: inline-block;
  font-size: 2.5rem;
  background: transparent;
  color: var(--clr-primary);
  padding: 1rem 2rem;
  text-decoration: none;
  text-shadow: 0 0 3px #fff, 0 0 20px var(--clr-primary);
  cursor: pointer;
  margin: 1rem 1rem;
  line-height: 100%;
  transition: all 0.5s linear;
  border: none;

  &:hover {
    box-shadow: inset 0 0 20px 0 var(--clr-primary),
      0 0 20px 0 var(--clr-primary);
    border: 3px solid var(--clr-primary);
    color: var(--clr-font);
    text-shadow: none;
    font-size: 3.5rem;
  }
}
.text-logo {
  font-size: 4rem;
  color: var(--clr-primary);
  font-weight: bold;
  margin-left: 2rem;
  transition: all 0.5s ease;
  text-transform: uppercase;
}
