@import url('https://use.typekit.net/fig7oez.css');
.dark__theme {
  --clr-primary: #f200b2;
  --clr-primary2: #08fdd8;
  --clr-bg: #0c0d1d;
  --clr-font: #fff;
  --clr-icon: rgba(255, 255, 255, 0.5);
  --clr-fill: #fff;
  --clr-bar: #111;
  --clr-key: yellow;
  --clr-bg-shadow: rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
  --clr-border: 3px solid #f200b2;

  --clr-white: #fff;
  --clr-black: black;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --max-width: 1170px;
  --fixed-width: 620px;
}
.light__theme {
  --clr-primary: #019c28;
  --clr-primary2: #bd02ce;
  --clr-bg: rgb(253, 247, 253);
  --clr-font: #0c0d1d;
  --clr-icon: rgba(1, 30, 43, 0.5);
  --clr-fill: #011e2b;
  --clr-bar: rgb(231, 228, 231);
  --clr-key: rgb(163, 3, 3);
  --clr-bg-shadow: rgba(255, 255, 255, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --clr-border: 3px solid #019c28;

  --clr-white: #fff;
  --clr-black: black;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: azo-sans-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: var(--clr-font);
  font-size: 0.875rem;
  background-color: var(--clr-bg);
  transition: all 0.5s ease;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

section {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}
.heading {
  font-family: azo-sans-web, sans-serif;
  font-weight: 700;
  position: absolute;
  left: 70%;
  top: 30%;
  transform: translate(-50%, -50%) rotate(-30deg);
  font-size: 38rem;
  -webkit-text-stroke: 8px var(--clr-primary);
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  z-index: -1;
  opacity: 0.3;
  animation: headinganima 1.5s linear;
  transition: all 0.5s ease;
  width: 100%;
}
@keyframes headinganima {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
